.inner-carousel-dem {
    display: flex;
    justify-content: center;
}

.carousel-dem {
    cursor: grab;
    overflow: hidden;
    width: 90%;
}

.form-dem {
    pointer-events: none;
}


.MuiList-root, .MuiMenu-list, .MuiList-padding {
    display: flex;
    flex-direction: column;
}
